/* Globales */
::after
::before
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0 auto;
    max-width: 1200px;
    font-family:'Lato';
    color: black;
}
.icon-cart{
    width: 40px;
    height: 40px;
    stroke: #000;
}
.icon-cart :hover{
    cursor: pointer;
}
img{
    max-width: 150px;
}
/*Header*/
header{
    display: flex;
    justify-content: space-between;
    padding: 30px 0 40px 0;
}
.conteiner-ico{
    position: relative;
}
.cout-productos{
    position: absolute;
    top: 25%;
    right: 0;

    background-color: #000;
    color: #fff;
    width: 25px;
    height: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
#contador-productos{
    font-size: 12px;

}
.conteiner-cart-productos{
    position: absolute;
    top: 50px;
    right: 0;

    background-color: #fff;
    width: 400px;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0,0,0,.20);
    border-radius: 10px;
}
.cart-productos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
}

.info-cart-productos{
    display: flex;
    justify-content: space-between;
    flex: 0.8;
}
.titulo-produto-carrito{

    font-size: 15px;
}
.precio-producto-carrito{
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
}
.cantidad-producto-carrito{
    font-weight: 400;
    font-size: 20px;
}
.cart-total{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;

}
.cart-total h3{
    font-size: 20px;
    font-weight: 700;
}
.total-pagar{
    font-size: 20px;
    font-weight: 900;
}
.hidden-cart{
    display: none;
}

.icon-close{
    width: 25px;
    height: 25px;
}
.icon-close:hover{
stroke: red;   
cursor: pointer;
}

/*Menu*/
.container-items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.item{
    border-radius: 10px;
}
.item{
    box-shadow: 15px 20px rgba(0, 0, 0, 0.20);
}
.info-producto{
    padding: 15px 30px;

}
.item img{
    width: 150px;
    height: 150px;
    padding: 50px;;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    border-top-right-radius: 50px;
    transition: all .5s;

}
item figure{
    overflow: hidden;
}
.item:hover img{
    transform: scale(1.2);
}
.info-producto{
    padding: 15px 30px;
    line-height: 2;
    flex-direction: column;
}
.price{
    font-size: 18px;
    font-weight: 900;

}
.info-producto button{
border: none;
background: none;
background-color: black;
color: #fff;
padding: 15px 10px;
cursor: pointer;
}